*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:linear-gradient(135deg,#0f172a,#1e293b);
  color:white;
  min-height:100vh;
  padding:20px;
}

.container{
  max-width:1100px;
  margin:auto;
}

h1{
  text-align:center;
  margin-bottom:20px;
}

/* ===== FORM ===== */
.form{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:10px;
  margin-bottom:15px;
}

input, textarea{
  padding:12px;
  border-radius:8px;
  border:none;
  background:#1e293b;
  color:white;
}

textarea{
  resize:none;
}

/* ===== BUTTON ===== */
button{
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.green{background:#22c55e}
.blue{background:#3b82f6}
.red{background:#ef4444}

/* ===== CARDS ===== */
.list{
  display:grid;
  gap:10px;
}

.card{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.actions{
  display:flex;
  gap:6px;
}

/* ===== MODAL ===== */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:flex;
  align-items:center;
  justify-content:center;
}

.hidden{
  display:none;
}

.modal-box{
  background:#1e293b;
  padding:25px;
  border-radius:12px;
  width:90%;
  max-width:350px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.modal-actions{
  display:flex;
  gap:8px;
}

@media(max-width:600px){
  .card{
    flex-direction:column;
  }
}


